{% assign branch = 'main' %}
{% assign repo = 'https://github.com/philprime/philprime.dev' %}
<div class='contribute-cta'>
  <small><strong>Help improve this content</strong></small>
  <br>
  <small>
    I strive to create helpful and accurate content, but there's always room for improvement! Whether you notice a typo,
    have ideas to make this clearer, or want to share your thoughts, I warmly welcome your feedback. Together, we can
    make this content even better for everyone.
  </small>
  <br>
  <small class='contribute-cta-links'>
    <a href='{{ repo }}/edit/{{ branch }}/{{ include.file_path }}' target='_blank'>Edit this page</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href='{{ repo }}/issues/new' target='_blank'>Create an issue</a>
  </small>
</div>
