<!doctype html>
<html lang='{{ page.lang | default: site.lang | default: 'en' }}'>
  {%- render head.html.liquid -%}

  <body>
    {%- render header.html.liquid -%}

    <main class='page-content' aria-label='Content'>
      <div class='wrapper'>
        {{ content }}
      </div>
    </main>

    {%- render footer.html.liquid -%}
  </body>
</html>
