---
layout: default.liquid
---
<h1>{{ page.title | escape }} (S{{ page.guide_section_id }})</h1>

{{ content }}

{% include guide-overview-link.liquid.html %}

{% assign lessons = site.pages
  | where: 'guide_section_id', page.guide_section_id
  | where_exp: 'item', 'item.url != page.url'
  | sort: 'guide_lesson_id'
%}

<h2>Lessons</h2>

<ul>
  {% for other_page in lessons %}
    <li>
      <p>
        <a href='{{ other_page.url | relative_url }}'>
          Lesson {{ other_page.guide_lesson_id }}: {{ other_page.title | escape }}
        </a>
      </p>
      <blockquote>
        <p>{{ other_page.guide_lesson_abstract }}</p>
      </blockquote>
    </li>
  {% endfor %}
</ul>

<h2>Getting Started</h2>

<p>
  To get started with the section, head over to the
  <a href='{{ lessons.first.url | relative_url }}'>first lesson in this section</a> to
  {{ page.guide_section_cta }}
</p>
