---
layout: default.liquid
---
<h1>{{ page.title | escape }}</h1>

{% if page.guide_abstract %}
  <p style='font-size: 1.25rem; font-weight: bold;'>{{ page.guide_abstract }}</p>
{% endif %}

{{ content }}

<h2 id='overview'>Overview</h2>

{%
  include alert.liquid.html type='note' content='
  As this series was written as an online course, the guide is structured as a curriculum with sections and lessons.
  Each lesson is a separate post in this series, and the names `lesson`, `article` and `posts` are used interchangeably.
  '
%}

<p>
  This series is divided into multiple sections, each focusing on a specific area of the guide. Here&apos;s an overview
  of what you can expect in each section, with links to individual lessons:
</p>

{% assign sections = site.pages
  | where: 'guide_component', 'section'
  | where: 'guide_id', page.guide_id
  | sort: 'guide_section_id'
%}
<ul>
  {% for section in sections %}
    <li>
      <p>
        <a href='{{ section.url }}'>Section {{ section.guide_section_id }}: {{ section.title }}</a>
      </p>
      <blockquote>
        <p>{{ section.guide_section_abstract }}</p>
      </blockquote>
      <ul>
        {% assign lessons = site.pages
          | where: 'guide_component', 'lesson'
          | where: 'guide_id', page.guide_id
          | where: 'guide_section_id', section.guide_section_id
          | sort: 'guide_lesson_id'
        %}
        {% for lesson in lessons %}
          <li>
            <p>
              <a href='{{ lesson.url }}'>Lesson {{ lesson.guide_lesson_id }}: {{ lesson.title }}</a>
            </p>
            <blockquote>
              <p>{{ lesson.guide_lesson_abstract }}</p>
            </blockquote>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<h2>Getting Started</h2>

<p>
  To get started with the series, head over to the <a href='{{ sections.first.url }}'>first section</a> to
  {{ sections.first.guide_section_cta }}.
</p>

<h2>History</h2>

<p>
  As guides evolve over time to incorporate new technologies, best practices, and community feedback, you can track the
  various revisions and updates that have been made to this guide
  <a href='/guides/{{ page.guide_id }}/revisions'>here</a>.
</p>

{% include contribute-cta.liquid.html file_path=page.repo_file_path %}
